html {
    font-family: 'TT Lakes', 'Open Sans', 'Arial', sans-serif;
    background-color: #F8F8F8;
    }

.header{
    background: linear-gradient(to right, #F8F8F8 0%, #FFF 98.61%);
    height: 56px;
    display: flex;
    align-items: center;
}
.header__title{
    color: #7E7E82;
    font-family: 'TT Lakes', 'Open Sans', 'Arial', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-transform: uppercase;
    padding-left: 32px;
}

/*--------------СПИСОК БРЕНДОВ---------------*/
.brends-list{
    margin: 0;
    padding-top: 24px;
    padding-left: 32px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    column-gap: 32px;
    row-gap: 16px;
}

.brends-list--show-part{ /*МОДИФИКАТОР ПОКАЗАТЬ ЧАСТЬ ЭЛЕМЕНТОВ*/
    height: 160px;
    overflow: hidden;
}

.brends-list__item{
    margin:0;
    padding: 0;
    list-style: none;
}
.brends-list__brend{ 
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    
    box-sizing: border-box;
    width: 100%;
    height: 72px;
    background-color: #FFF;

    border: 1px solid #EAEAEA;
    border-radius: 6px;
}
.brends-list__item{
    width: 240px;
}
    
.circle-button{
    display: block;
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    width: 40px;
    height: 40px;
}

.brend__circle-button{
    margin-left: auto;
    margin-right: 16px;
}
.circle-button--arroy-img{
    background: url(images/brends/arroy.svg) no-repeat center center;
}

.circle-button:hover{
    transform: scale(1.2);
    opacity: 0.9;
}

.brend__img{
    box-sizing: border-box;
    margin-left: 16px;
}

.read-more-button{
    /*сброс базовых стилей кнопок*/
        padding: 0;
        border: none;
        font: inherit;
        color: inherit;
        background-color: transparent;
        cursor: pointer;
    
    /*сброс стиля фокуса*/
        outline: none;
        background: url(images/read-more-close.svg) no-repeat left center;
        height: 24px;
        padding-left: 18px;
        display: block;

        font-size: 16px;
        line-height: 24px;
        text-align: right;
        font-weight: 600;
        color: #1B1C21;
        align-self: center;
    }

    .read-more-button--open{
        background: url(images/read-more-open.svg) no-repeat left center;
        padding-left: 22px;
    }

    .read-more-button--close{
        background: url(images/read-more-close.svg) no-repeat left center;
    }

    .read-more-button:hover{
        opacity: 0.7;
    }

.footer__read-more-button {
    margin-top: 24px;
    margin-left: 32px;
}

/*--------------СЕТКА 320---------------*/
@media (max-width:767.9px){
    .header__title{
        padding-left: 16px ;
    }

    .brends-list{
        margin: 0;
        padding-left: 0;
        padding-right: 0;
       /* padding-top: 16px;*/

        display: flex;
        justify-content: flex-start;
        flex-wrap: nowrap;
        column-gap: 0;
        /*width: 100%;*/
    }

    .swiper{
        height: 136px;
        width: 100%;
        padding-left:16px ;
    }
    
    .swiper-pagination-bullet-active{
        background-color: #B5B6BC;
    }
      
    .brends-list--show-part{ /*МОДИФИКАТОР ПОКАЗАТЬ ЧАСТЬ ЭЛЕМЕНТОВ*/
        height: 120px;
    }
    
    .read-more-button{
        display: none;
    }
    
}

/*--------------СЕТКА 768---------------*/

@media (min-width:768px) and (max-width: 1120px){
    .header__title{
        padding-left: 24px;
    }
    .brends-list{
        display: flex;
        column-gap: 24px;
        padding-left: 24px;
        row-gap: 16px;
        align-content: start;
        
    }
    .brends-list__item{ 
        width: 224px;
    }
    
}