html {
    font-family: 'TT Lakes', 'Open Sans', 'Arial', sans-serif;
    background-color: #F8F8F8;
    }

.header{
    background: linear-gradient(to right, #F8F8F8 0%, #FFF 98.61%);
    height: 56px;
    display: flex;
    align-items: center;
}
.header__title{
    color: #7E7E82;
    font-family: 'TT Lakes', 'Open Sans', 'Arial', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-transform: uppercase;
    padding-left: 32px;
}

/*--------------СПИСОК БРЕНДОВ---------------*/
.brends-list{
    margin: 0;
    padding-top: 24px;
    padding-left: 32px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    column-gap: 32px;
    row-gap: 16px;
}

.brends-list--show-part{ /*МОДИФИКАТОР ПОКАЗАТЬ ЧАСТЬ ЭЛЕМЕНТОВ*/
    height: 160px;
    overflow: hidden;
}

.brends-list--show-all{ /*МОДИФИКАТОР ПОКАЗАТЬ ВСЕ ЭЛЕМЕНТЫ*/
    height: 248px;
}

.brends-list__brend{ 
    margin:0;
    padding: 0;
    list-style: none;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    
    box-sizing: border-box;
    width: 240px;
    height: 72px;
    background-color: #FFF;

    border: 1px solid #EAEAEA;
    border-radius: 6px;
}
    
.brends-list__link{
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #FF3E79;
    background: url(images/brends/link-arroy.svg) no-repeat center center;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: 16px;
}
.brends-list__link:hover{
    transform: scale(1.1);
    opacity: 0.8;
    transition-duration: 0.1s;
}
.brend__img{
    box-sizing: border-box;
    margin-left: 16px;
}

.read-more-button{
    /*сброс базовых стилей кнопок*/
        padding: 0;
        border: none;
        font: inherit;
        color: inherit;
        background-color: transparent;
        cursor: pointer;
    
    /*сброс стиля фокуса*/
        outline: none;
        background: url(images/read-more-close.svg) no-repeat left center;
        height: 24px;
        padding-left: 18px;
        display: block;

        font-size: 16px;
        line-height: 24px;
        text-align: right;
        font-weight: 600;
        color: #1B1C21;
        align-self: center;
    }

    .read-more-button--open{
        background: url(images/read-more-open.svg) no-repeat left center;
        padding-left: 22px;
    }

    .read-more-button--close{
        background: url(images/read-more-close.svg) no-repeat left center;
    }

    .read-more-button:hover{
        opacity: 0.7;
    }

.footer__read-more-button {
    margin-top: 24px;
    margin-left: 32px;
}

/*--------------СЕТКА 320---------------*/
@media (max-width:767.98px){
    .header__title{
        padding-left: 16px ;
    }

    .brends-list{
        margin: 0;
        padding-top: 16px;
        padding-left: 16px;
        display: flex;
        justify-content: flex-start;
        flex-wrap: nowrap;
        column-gap: 16px;
        width: 0%;
    }
    .swiper{
        height: 120px;
    }

    .swiper-slide{
        max-width: 240px;
    }

    .swiper-pagination-bullet-active{
        background-color: #B5B6BC;
    }

    .brends-list__brend{
        min-width: 240px;
    }
    .brends-list--show-part{ /*МОДИФИКАТОР ПОКАЗАТЬ ЧАСТЬ ЭЛЕМЕНТОВ*/
        height: 120px;
        
    }
    
    .brends-list--show-all{ /*МОДИФИКАТОР ПОКАЗАТЬ ВСЕ ЭЛЕМЕНТЫ*/
        height: auto;
    }
    .read-more-button{
        display: none;
    }
    
}


/*--------------СЕТКА 768---------------*/

@media (min-width:768px) and (max-width: 1119.9px){
    .header__title{
        padding-left: 24px;
    }
    .brends-list{
        column-gap: 24px;
        padding-left: 24px;
        row-gap: 16px;
        align-content: start;
    }
    .brends-list__brend{ 
        width: 224px;
    }
    .brends-list--show-all{ /*МОДИФИКАТОР ПОКАЗАТЬ ВСЕ ЭЛЕМЕНТЫ*/
        height: auto;
    }


}

/*--------------СЕТКА 1120---------------*/
@media (min-width:1120px){


}