/*Сперва  общая стилизация, цвета рамки, кнопки и тд*/
html {
font-family: 'TT Lakes', 'Open Sans', 'Arial', sans-serif;
}
body{
    padding: 0;
    margin: 0;
    background-color:#F8F8F8;
}

.header{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    border-bottom: 2px solid #D9FFF5;
    
    width: 100%;
    min-width: 320px;
    min-height: 88px;

    background-color: #FFFFFF;
}

.main-container{
    background-color:#F8F8F8;
    width: 100%;
    height: 100%;
}

/*Круглые розовые кнопки*/
.circle-button{
/*сброс базовых стилей кнопок*/
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
/*сброс стиля фокуса*/
    outline: none;

    width: 40px;
    height: 40px;
    margin-right: 16px;
}
/*------------Подгружаем иконки кнопок----------*/

.circle-button--burger-img{
    background: url(images/burger.svg) no-repeat center center;
}
.circle-button--call-img{
    background: url(images/call.svg) no-repeat center center;
}
.circle-button--chat-img{
    background: url(images/chat.svg) no-repeat center center;
}
.circle-button--profile-img{
    background: url(images/profile.svg) no-repeat center center;
}
.circle-button--repair-img{
    background: url(images/repair.svg) no-repeat center center;
}
.circle-button--checkstatus-img{
    background: url(images/checkstatus.svg) no-repeat center center;
}


/*---------------Часть шапки с лого---------------*/

.logo-side{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 16px;
    margin-right: 16px;
}
/*-------------Часть шапки с чатом, звонком и профилем----*/
.contacts-side{
    display: flex;
    align-items: center;
    justify-content: space-between;
} 

/*------------Часть шапки с ремонтов--------*/

.repair-side{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/*-----------------------КНОПКА ЧИТАТЬ ДАЛЕЕ----------------*/
.button-text{
    font-size: 16px;
    line-height: 24px;
    text-align: right;
    font-weight: 600;
    color: #1B1C21;
    align-self: center;
}

.read-more-button{
    /*сброс базовых стилей кнопок*/
        padding: 0;
        border: none;
        font: inherit;
        color: inherit;
        background-color: transparent;
        cursor: pointer;
    
    /*сброс стиля фокуса*/
        outline: none;
    
        background: url(images/icon.svg) no-repeat left center;
        width: 132px;
        height: 24px;
        display: inline-block;
        margin-bottom: 20px;
        margin-top: 10px;
        margin-left: 16px;
    }

.button-text:hover{
    font-style: italic ;
}


/*----ЗАГОЛОВОК----*/
.title{
    background: url('images/highlight.svg') no-repeat left center;
    display: flex;
    justify-content: space-between;
}
.title__text{
    font-size: 28px;
    line-height: 40px;
    text-align: right;
    color: #1B1C21; 
    padding-left: 20px; 
    
}

/*-------------------НАВИГАЦИЯ по ссылкам----------------*/
.nav{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    height: 40px;
    padding-left: 16px;
    overflow-x: scroll;

}

.nav__link{
    color: #7E7E82;
    text-decoration: inherit; 
    font-family: TT Lakes;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    padding: 8px 12px;
    min-width:fit-content;

    display:flex;
    align-items: center;
}

.nav__link--selected {
    border: 2px solid #B8FFEC ;
    border-radius: 5px;
    background-color: #FFFFFF;
}

.nav__link:hover{
    color: black;
}

/*-------------ОСНОВНОЙ СЛАЙД----------*/

.main-slide{
    display: flex;
    justify-content: space-between;
    padding-top: 0;
}

.text-content{
    font-size: 14px;
    line-height: 20px;
    text-align: left; 
}

.text-content__text{
    display: flex;
    flex-direction: column;
}

/*--------------СЕТКА 320---------------*/

@media (max-width:767px){
  
    .body-container{
        min-width: 320px;
    }

    .header__contacts-side{
        display: none;
    }

    /*Вертикальный разделитель слева от repair-side*/
    .header__repair-side::before{
        content: '';
        height: 100%;
        width: 22px;
        background: url(images/divider.svg) no-repeat left 50%;
    }

    .nav__link--hiden-320{
        display: none;
    }

    .repair-side--hidden{
        display: none;
    }

    .main-slide{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: nowrap;
    }
    
    .main-slide__text-content{
        padding-right: 16px;
        padding-left: 16px;
    }

    .main-text{
        display: none;
    }
    .text{
        line-height: 18px;
    }

    .illustraton{
        min-width: 320px;
    }
    .illustraton__img{
        width: 100%;
        padding-top: 20px;
    }
}

/*--------------СЕТКА 768---------------*/

@media (min-width:768px){

    .logo-img{
        padding-left: 22px;
        background: url(images/divider.svg) no-repeat left 50%;
    }

    /*Вертикальный разделитель слева от repair-side*/
    .header__repair-side::before{
        content: '';
        height: 100%;
        width: 22px;
        background: url(images/divider.svg) no-repeat left 50%;
    }

    .nav__link--hiden-320{
        display: none;
    }

    .header__contacts-side{
        display: flex;
        margin-left: auto;
    }

    .repair-side--hidden{
        display: none;
    }

    .main-slide{
        width: 100%;
        min-width: 768px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: nowrap;
        align-items: flex-start;
    }

    .text-content__text{
        width:312px;
        height: 160px;

        overflow:hidden;
    }

    .text-content{
        padding-top: 10px;
        padding-left: 16px;
    }

    .illustraton{
        width: 360px;
        padding-left:40px;
        padding-right:40px;
    }
    .illustraton__img{
        width: 360px;
        height: 220px;
        padding-top: 20px;
    }
    
    .main-text{
        display: block;
    }
    .text{
        line-height: 20px;
    }
}

/*--------------СЕТКА 1120---------------*/
@media (min-width:1120px){

    .header{
        display:none;
    }

    .nav__link--hiden-320{
        display: block;
    }

    .nav__link--hiden-1120{
        display:none;
    }

    .nav{
        padding-left: 24px;
        overflow: visible;
        flex-wrap: wrap;
        width: 1063px;
        height: 82px;
        flex-shrink: 0;
    }
    .repair-side--hidden{
        display: flex;
        width: 380px;
        justify-content: space-between;
        align-items: center;
    }

    .circle-button--with-text{
        display: flex;
        align-items: center;

        width: 173px;
        background-position: right 50%;
    }

    .text-content__text{
        width: 490px;
        height: 160px;

        overflow:hidden;
    }
    .text-content{
        padding-right: 24px;
    }
    .illustraton{
        width: 531px;
        padding-left:40px;
        padding-right:40px;
    }
    .illustraton__img{
        width: 531px;
        height: 320px;
        padding-top: 20px;
    }
}
